@import "../../constants/constants.styl"

.number-info
  .title
    color: $text-color
    font-size: $font-size-lg
    margin-bottom: 16px
    transition: all .3s
  .subtitle
    color: $text-color-secondary
    font-size: $font-size-base
    height: 22px
    line-height: 22px
    overflow: hidden
    text-overflow: ellipsis
    word-break: break-all
    white-space: nowrap
