@import "../../constants/constants.styl"

.numberInfo

  .numberInfoTitle
    color: $text-color
    font-size: $font-size-lg
    margin-bottom: 16px
    transition: all .3s

  .numberInfoSubTitle
    color: $text-color-secondary
    font-size: $font-size-base
    height: 22px
    line-height: 22px
    overflow: hidden
    text-overflow: ellipsis
    word-break: break-all
    white-space: nowrap
