$primary-color = #1890ff
$error-color = #f5222d

$heading-color = fade(#000, 85%)
$text-color = fade(#000, 65%)
$text-color-secondary = fade(#000, 45%)
$font-size-base = 14px
$font-size-lg = $font-size-base + 2px
$font-size-sm = 12px

$border-color-base = hsv(0, 0, 85%)
$border-color-split = hsv(0, 0, 91%)

$background-color-base = hsv(0, 0, 96%)

$screen-xs = 480px
$screen-sm = 576px
$screen-md = 768px
$screen-lg = 992px
$screen-xl = 1200px
