@import "../../constants/constants.styl"

.main
  width: 368px
  margin: 0 auto

  .login

    :global
      .ant-form-item
        margin-bottom: 20px

    .prefixIcon {
      font-size: $font-size-base;
      color: $disabled-color;
    }

    .formButton
      width: 100%
