#navigation
  display: flex
  flex-direction: row
  align-items: center
  padding-left: 10px
  padding-right: 10px

  .ant-menu
    line-height: 64px

  .ant-menu-item-selected
    background-color: transparent

  #navigation-logo
    width: 70px
    height: 45px
    margin-top: -6px

  #navigation-left
    flex 1

  #email-text
    color: rgba(255, 255, 255, 0.65)
